#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_DRV
#define VER_FILESUBTYPE VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Broadcom SD Host (BRCME88C) for Raspberry Pi 4"
#define VER_INTERNALNAME_STR        "SDHostBRCME88C.sys"
#define VER_ORIGINALFILENAME_STR    "SDHostBRCME88C.sys"

#include "common.ver"
